.animals {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.animal-cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.animal-card {
    margin: auto;
    max-height: 20rem;
    min-height: 20rem;
    max-width: 10rem;
    min-width: 10rem;
}

.animalButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.icon--dog {
    width: 50px;
    height: 50px;
}

.card {
    width: 10rem;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.card-link {
    margin: 12px 0 0 0;
    font-size: 0.7em;
}
